In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('Dataset/tmdb_5000_movies.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits = pd.read_csv('Dataset/tmdb_5000_credits.csv')

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies = movies.merge(credits, on='title')

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [16]:
def genresconvert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [17]:
movies['genres'] = movies['genres'].apply(genresconvert)

In [18]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [19]:
movies['keywords'] = movies['keywords'].apply(genresconvert)

In [20]:
def castconvert(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 4:
            l.append(i['name'])
        counter = counter +1
    return l

In [21]:
movies['cast'] = movies['cast'].apply(castconvert)

In [22]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [23]:
def director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
    return l

In [24]:
movies['crew'] = movies['crew'].apply(director)

In [25]:
def collapse(obj):
    l = []
    for i in obj:
        l.append(i.replace(" ", ""))
    return l

In [26]:
movies['cast'] = movies['cast'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)

In [27]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [28]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [29]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [30]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [31]:
new = movies.drop(columns=['overview', 'genres', 'keywords', 'keyword', 'cast', 'crew'])

KeyError: "['keyword'] not found in axis"

In [32]:
new = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])

In [33]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [35]:
new.iloc[0].tags

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'JamesCameron']

In [36]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

In [37]:
new.iloc[0].tags

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang JamesCameron'

In [38]:
new['tags'] = new['tags'].apply(lambda x:x.lower())

In [39]:
new.iloc[0].tags

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang jamescameron'

In [40]:
new.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [41]:
import nltk

In [43]:
from nltk.stem.porter import PorterStemmer

In [44]:
ps = PorterStemmer()

In [45]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [46]:
new['tags'] = new['tags'].apply(stem)

In [47]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
cv = CountVectorizer(max_features = 5000, stop_words='english')

In [50]:
vector = cv.fit_transform(new['tags']).toarray()

In [51]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
similarity = cosine_similarity(vector)

In [54]:
similarity

array([[1.        , 0.08226127, 0.08471737, ..., 0.04588315, 0.        ,
        0.        ],
       [0.08226127, 1.        , 0.05884899, ..., 0.02390457, 0.        ,
        0.02548236],
       [0.08471737, 0.05884899, 1.        , ..., 0.0246183 , 0.        ,
        0.        ],
       ...,
       [0.04588315, 0.02390457, 0.0246183 , ..., 1.        , 0.04264014,
        0.04264014],
       [0.        , 0.        , 0.        , ..., 0.04264014, 1.        ,
        0.09090909],
       [0.        , 0.02548236, 0.        , ..., 0.04264014, 0.09090909,
        1.        ]])

In [55]:
len(similarity[0])

4806

In [56]:
def recommend(movie):
    index = new[new['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key = lambda x:x[1])
    
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [57]:
new[new['title']=='Avatar'].index[0]

0

In [58]:
sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x:x[1])

[(0, 1.0000000000000002),
 (1216, 0.2887821107461946),
 (2409, 0.26600795837367097),
 (507, 0.255608593705383),
 (3730, 0.25391668753850405),
 (539, 0.2467838236981868),
 (582, 0.24511108480187255),
 (1204, 0.23918243661746996),
 (778, 0.2294157338705618),
 (1194, 0.22710998958306755),
 (1920, 0.2252817784447915),
 (4048, 0.22329687826943603),
 (61, 0.22269966704152225),
 (2786, 0.21853668936906193),
 (172, 0.2075143391598224),
 (2333, 0.20647416048350561),
 (322, 0.20519567041703082),
 (74, 0.20443988269091456),
 (3608, 0.20437977982832192),
 (260, 0.20395079136182276),
 (972, 0.20395079136182276),
 (1089, 0.20335531332779733),
 (151, 0.2029530274475215),
 (4192, 0.2029530274475215),
 (1444, 0.20277677641345318),
 (3675, 0.1979082783981174),
 (973, 0.19767387315371682),
 (577, 0.1976738731537168),
 (47, 0.19529164171612678),
 (2971, 0.19252140716412977),
 (3327, 0.19117977822546817),
 (942, 0.1892994097121204),
 (305, 0.18848425873126295),
 (4405, 0.18731716231633883),
 (4, 0.1873171623163388),
 (495, 0.1873171623163388),
 (1201, 0.1873171623163388),
 (27, 0.18693292157876878),
 (1329, 0.18394180184548975),
 (83, 0.18172434016970185),
 (2999, 0.1813690625275029),
 (94, 0.18074256993863339),
 (3999, 0.18074256993863339),
 (1071, 0.17954621161490197),
 (1321, 0.17699808135119718),
 (168, 0.17521916101261562),
 (2204, 0.17521916101261562),
 (220, 0.1748149640244195),
 (1275, 0.1748149640244195),
 (184, 0.17316974359835272),
 (3538, 0.17316974359835272),
 (4336, 0.17316974359835272),
 (300, 0.1711905958155815),
 (3162, 0.17040572913692198),
 (931, 0.16943474841747155),
 (36, 0.1692777916923361),
 (373, 0.1691275228729346),
 (529, 0.16742770563222897),
 (1831, 0.16742770563222897),
 (67, 0.16692446522239718),
 (1982, 0.16692446522239718),
 (661, 0.16481712868606585),
 (91, 0.16452254913212452),
 (150, 0.16426202236672155),
 (595, 0.16390251702679648),
 (41, 0.16390251702679645),
 (1537, 0.16222142113076254),
 (2515, 0.16222142113076254),
 (1178, 0.1600142241187995),
 (342, 0.15929827321607748),
 (4010, 0.15737789507292674),
 (31, 0.15609763526361567),
 (2731, 0.15609763526361567),
 (513, 0.15585730003983933),
 (149, 0.1540171257313038),
 (26, 0.15389675281277312),
 (187, 0.152008377581442),
 (838, 0.1518926498314485),
 (581, 0.15061880828219448),
 (1344, 0.15018785229652767),
 (111, 0.14843120879858804),
 (311, 0.14843120879858804),
 (1383, 0.14843120879858804),
 (2075, 0.14808721943977307),
 (1297, 0.14673479641335554),
 (2760, 0.14659886790209342),
 (127, 0.14601068654819693),
 (3354, 0.14567913668701626),
 (7, 0.14509525002200235),
 (52, 0.14509525002200235),
 (108, 0.14509525002200235),
 (1396, 0.14421498760030763),
 (1479, 0.1442149876003076),
 (1056, 0.14350946197048198),
 (1938, 0.14350946197048198),
 (579, 0.1433848336691011),
 (1355, 0.1419745572840903),
 (466, 0.14159846508095775),
 (490, 0.14159846508095775),
 (1327, 0.14159846508095775),
 (1488, 0.14159846508095775),
 (275, 0.1411956236812263),
 (294, 0.1411956236812263),
 (413, 0.1411956236812263),
 (461, 0.1411956236812263),
 (568, 0.1411956236812263),
 (2496, 0.1411956236812263),
 (1273, 0.14048787173725413),
 (17, 0.13977653617040256),
 (3409, 0.1391037210186643),
 (95, 0.13904693239779647),
 (249, 0.13834289277321493),
 (505, 0.13834289277321493),
 (3781, 0.13834289277321493),
 (1965, 0.1377056581888109),
 (46, 0.13710212427677043),
 (72, 0.13710212427677043),
 (843, 0.13710212427677043),
 (859, 0.13710212427677043),
 (2169, 0.13710212427677043),
 (4538, 0.13629325512727639),
 (56, 0.13530201829834768),
 (2584, 0.13530201829834768),
 (3982, 0.13530201829834768),
 (1808, 0.13518451760896877),
 (4348, 0.13497638119975428),
 (1322, 0.13476498501489081),
 (777, 0.13369695534647594),
 (1560, 0.13334518676566626),
 (668, 0.1324532357065044),
 (935, 0.1324532357065044),
 (1373, 0.1324532357065044),
 (158, 0.13245323570650439),
 (502, 0.13245323570650439),
 (126, 0.13157894736842107),
 (4079, 0.13157894736842107),
 (2133, 0.13124359177794215),
 (2873, 0.130066495428618),
 (138, 0.12988108336653278),
 (1015, 0.12988108336653278),
 (1086, 0.12988108336653278),
 (2181, 0.12988108336653278),
 (3622, 0.12988108336653278),
 (368, 0.12977713690461004),
 (476, 0.12977713690461004),
 (2378, 0.12977713690461004),
 (2686, 0.12824729401064427),
 (4230, 0.12824729401064427),
 (134, 0.12725695259515557),
 (487, 0.12725695259515557),
 (773, 0.12725695259515557),
 (1774, 0.12725695259515557),
 (2970, 0.12725695259515557),
 (14, 0.126673647984535),
 (937, 0.126673647984535),
 (166, 0.12515654358043973),
 (369, 0.12515654358043973),
 (2450, 0.12515654358043973),
 (3628, 0.12515654358043973),
 (208, 0.12487810821089254),
 (1158, 0.12487810821089254),
 (1741, 0.12462194771917919),
 (754, 0.12369267399882337),
 (84, 0.12361284651454937),
 (483, 0.12262786789699316),
 (1096, 0.12262786789699316),
 (2652, 0.12262786789699316),
 (102, 0.12262786789699313),
 (1878, 0.12262786789699313),
 (557, 0.12227899701112963),
 (1299, 0.12227899701112963),
 (1673, 0.12166606584807191),
 (2331, 0.12166606584807191),
 (2480, 0.12166606584807191),
 (2674, 0.12166606584807191),
 (3083, 0.12166606584807191),
 (438, 0.12091270835166862),
 (3235, 0.12091270835166862),
 (68, 0.1204950466257556),
 (1658, 0.1204950466257556),
 (3376, 0.1204950466257556),
 (139, 0.11980845957463077),
 (549, 0.11959121830873498),
 (870, 0.11959121830873498),
 (1002, 0.11891100529341271),
 (1004, 0.11846977555181847),
 (1047, 0.11846977555181847),
 (1274, 0.11846977555181847),
 (1301, 0.11846977555181847),
 (1833, 0.11846977555181847),
 (2060, 0.11846977555181847),
 (2741, 0.11846977555181847),
 (4673, 0.11846977555181847),
 (900, 0.11831213107007527),
 (1715, 0.11803342130469505),
 (2789, 0.11803342130469505),
 (4000, 0.11803342130469505),
 (182, 0.11707322644771176),
 (2284, 0.11707322644771176),
 (2547, 0.11707322644771176),
 (236, 0.116543309349613),
 (678, 0.116543309349613),
 (781, 0.116543309349613),
 (589, 0.1163350101494222),
 (160, 0.11589658124319138),
 (278, 0.11587244366483038),
 (454, 0.11587244366483038),
 (1617, 0.11587244366483038),
 (1497, 0.11551284429847784),
 (3212, 0.11506355109724453),
 (189, 0.1147078669352809),
 (432, 0.11470786693528089),
 (122, 0.11470786693528087),
 (85, 0.1141270638770543),
 (1220, 0.11357771260606365),
 (1418, 0.11357771260606365),
 (3147, 0.11314714296070713),
 (87, 0.11295649894498103),
 (422, 0.11295649894498103),
 (536, 0.1124803176664619),
 (889, 0.11243619908556624),
 (808, 0.11164843913471803),
 (1348, 0.11164843913471803),
 (3721, 0.11164843913471803),
 (420, 0.11141412945539662),
 (2372, 0.11141412945539662),
 (1512, 0.11141412945539661),
 (50, 0.11128297681493143),
 (121, 0.11128297681493143),
 (232, 0.11128297681493143),
 (4468, 0.11128297681493143),
 (206, 0.11092107999698035),
 (228, 0.11037769642208699),
 (3309, 0.11037769642208699),
 (81, 0.11020775375559676),
 (1574, 0.11020775375559674),
 (28, 0.10968169942141635),
 (449, 0.10968169942141635),
 (814, 0.10968169942141635),
 (1031, 0.10968169942141635),
 (1616, 0.10968169942141635),
 (1945, 0.10968169942141635),
 (2817, 0.10968169942141635),
 (3008, 0.10968169942141635),
 (3140, 0.10968169942141635),
 (3498, 0.10968169942141635),
 (238, 0.1095080149111477),
 (256, 0.10882143751650175),
 (627, 0.10882143751650175),
 (653, 0.10882143751650175),
 (1524, 0.10882143751650175),
 (123, 0.10838874619051501),
 (692, 0.10838874619051501),
 (3093, 0.10838874619051501),
 (3630, 0.10838874619051501),
 (307, 0.10827043935570556),
 (786, 0.10814761408717502),
 (1237, 0.10814761408717502),
 (3428, 0.10814761408717502),
 (4777, 0.10814761408717502),
 (229, 0.1074861545850028),
 (5, 0.10743376064838502),
 (572, 0.10743376064838502),
 (740, 0.10743376064838502),
 (939, 0.1068366854693644),
 (21, 0.106676149412533),
 (75, 0.106676149412533),
 (332, 0.106676149412533),
 (472, 0.106676149412533),
 (1575, 0.10619884881071831),
 (2161, 0.10619884881071831),
 (2634, 0.10619884881071831),
 (262, 0.10559715077387793),
 (1496, 0.10559715077387793),
 (131, 0.10526315789473685),
 (223, 0.10526315789473685),
 (295, 0.10526315789473685),
 (2072, 0.10526315789473685),
 (3340, 0.10526315789473685),
 (170, 0.10471347707292386),
 (467, 0.10471347707292386),
 (2439, 0.10471347707292386),
 (2498, 0.10471347707292386),
 (541, 0.103851623099316),
 (200, 0.1037571695799112),
 (233, 0.1037571695799112),
 (1166, 0.1037571695799112),
 (1501, 0.1037571695799112),
 (1745, 0.1037571695799112),
 (2521, 0.1037571695799112),
 (3055, 0.1037571695799112),
 (3621, 0.1037571695799112),
 (3839, 0.1037571695799112),
 (4135, 0.1037571695799112),
 (654, 0.10301070542879115),
 (1455, 0.10301070542879115),
 (2106, 0.10301070542879115),
 (687, 0.10259783520851541),
 (1037, 0.10259783520851541),
 (1082, 0.10259783520851541),
 (1614, 0.10259783520851541),
 (2148, 0.10259783520851541),
 (3152, 0.10259783520851541),
 (3634, 0.10259783520851541),
 (3755, 0.10259783520851541),
 (3874, 0.10259783520851541),
 (4097, 0.10259783520851541),
 (491, 0.10218988991416095),
 (105, 0.10147651372376076),
 (2323, 0.10147651372376076),
 (2456, 0.10147651372376076),
 (2762, 0.10147651372376076),
 (3663, 0.10147651372376076),
 (3441, 0.10138838820672659),
 (10, 0.101338918387628),
 (1195, 0.101338918387628),
 (1294, 0.101338918387628),
 (1771, 0.101338918387628),
 (2247, 0.10133891838762799),
 (1405, 0.10060545457319173),
 (312, 0.10012523486435178),
 (508, 0.10012523486435178),
 (4019, 0.10012523486435178),
 (1439, 0.09984038297885897),
 (2099, 0.09984038297885897),
 (157, 0.09933992677987831),
 (325, 0.09933992677987831),
 (624, 0.09933992677987831),
 (1156, 0.09933992677987831),
 (1280, 0.09933992677987831),
 (1884, 0.09933992677987831),
 (2053, 0.09933992677987831),
 (2787, 0.09933992677987831),
 (4018, 0.09933992677987831),
 (4198, 0.09933992677987831),
 (4203, 0.09933992677987831),
 (4490, 0.09933992677987831),
 (363, 0.09909250441117726),
 (330, 0.0989541391990587),
 (445, 0.0989541391990587),
 (510, 0.0989541391990587),
 (643, 0.0989541391990587),
 (988, 0.0989541391990587),
 (3620, 0.0989541391990587),
 (3783, 0.0989541391990587),
 (3935, 0.0989541391990587),
 (1775, 0.09836118442057921),
 (266, 0.0978231976089037),
 (535, 0.0978231976089037),
 (898, 0.0978231976089037),
 (1109, 0.0978231976089037),
 (1401, 0.0978231976089037),
 (1823, 0.0978231976089037),
 (2253, 0.0978231976089037),
 (35, 0.09733285267845754),
 (148, 0.09733285267845754),
 (263, 0.09733285267845754),
 (319, 0.09733285267845754),
 (715, 0.09733285267845754),
 (878, 0.09733285267845754),
 (1077, 0.09733285267845754),
 (1306, 0.09733285267845754),
 (1727, 0.09733285267845754),
 (1942, 0.09733285267845754),
 (3954, 0.09733285267845754),
 (4472, 0.09733285267845754),
 (334, 0.0967301666813349),
 (410, 0.0967301666813349),
 (480, 0.0967301666813349),
 (2556, 0.0967301666813349),
 (9, 0.09567297464698798),
 (371, 0.09567297464698798),
 (2241, 0.09567297464698798),
 (4545, 0.09558988911273408),
 (33, 0.09544271444636668),
 (362, 0.09544271444636668),
 (791, 0.09544271444636668),
 (1573, 0.09544271444636668),
 (2562, 0.09544271444636668),
 (2645, 0.09544271444636668),
 (4256, 0.09544271444636668),
 (4403, 0.09544271444636668),
 (18, 0.09493290614465533),
 (587, 0.09464970485606021),
 (1357, 0.09464970485606021),
 (1692, 0.09464970485606021),
 (2592, 0.09464970485606021),
 (11, 0.09365858115816941),
 (412, 0.09365858115816941),
 (660, 0.09365858115816941),
 (920, 0.09365858115816941),
 (1474, 0.09365858115816941),
 (1686, 0.09365858115816941),
 (1721, 0.09365858115816941),
 (2488, 0.09365858115816941),
 (2650, 0.09365858115816941),
 (3537, 0.09365858115816941),
 (3720, 0.09365858115816941),
 (3736, 0.09365858115816941),
 (4331, 0.09365858115816941),
 (4343, 0.09365858115816941),
 (279, 0.09269795493186431),
 (596, 0.09269795493186431),
 (1446, 0.09269795493186431),
 (1701, 0.09269795493186431),
 (2820, 0.09269795493186431),
 (3407, 0.09269795493186431),
 (785, 0.09243423333081695),
 (244, 0.09197090092274487),
 (980, 0.09197090092274487),
 (1756, 0.09197090092274487),
 (2093, 0.09197090092274487),
 (2396, 0.09197090092274487),
 (2651, 0.09197090092274487),
 (230, 0.09183979479633063),
 (301, 0.09183979479633063),
 (799, 0.09183979479633063),
 (129, 0.09176629354822471),
 (243, 0.09176629354822471),
 (473, 0.09176629354822471),
 (813, 0.09176629354822471),
 (1233, 0.09176629354822471),
 (239, 0.09125667909262308),
 (2570, 0.09125667909262308),
 (43, 0.09086217008485092),
 (602, 0.09086217008485092),
 (997, 0.09086217008485092),
 (1846, 0.09086217008485092),
 (3881, 0.09086217008485092),
 (219, 0.09037128496931669),
 (356, 0.09037128496931669),
 (511, 0.09037128496931669),
 (2251, 0.09037128496931669),
 (2957, 0.09037128496931669),
 (331, 0.08998425413316952),
 (1276, 0.08998425413316952),
 (2713, 0.08998425413316952),
 (2796, 0.08998425413316952),
 (2856, 0.08998425413316952),
 (3389, 0.08998425413316952),
 (3443, 0.08998425413316952),
 (3462, 0.08998425413316952),
 (4353, 0.08998425413316952),
 (274, 0.08949387307563464),
 (1906, 0.0891313035643173),
 (2363, 0.0891313035643173),
 (2115, 0.08903057122447033),
 (12, 0.08885233166386385),
 (88, 0.08885233166386385),
 (400, 0.08885233166386385),
 (1027, 0.08885233166386385),
 (1480, 0.08885233166386385),
 (2660, 0.08885233166386385),
 (2868, 0.08885233166386385),
 (3322, 0.08885233166386385),
 (3448, 0.08885233166386385),
 (1783, 0.08830215713766959),
 (2740, 0.08830215713766959),
 (3553, 0.08830215713766959),
 (2448, 0.08797691788472337),
 (479, 0.08797691788472335),
 (169, 0.08749572785196143),
 (270, 0.08749572785196143),
 (827, 0.08749572785196143),
 (2109, 0.08749572785196143),
 (23, 0.08740748201220976),
 (141, 0.08740748201220976),
 (167, 0.08740748201220976),
 (389, 0.08740748201220976),
 (564, 0.08740748201220976),
 (794, 0.08740748201220976),
 (1249, 0.08740748201220976),
 (1259, 0.08740748201220976),
 (199, 0.08671099695241201),
 (618, 0.08671099695241201),
 (752, 0.08671099695241201),
 (1832, 0.08671099695241201),
 (2880, 0.08671099695241201),
 (3556, 0.08671099695241201),
 (4502, 0.08671099695241201),
 (4516, 0.08671099695241201),
 (4587, 0.08671099695241201),
 (142, 0.08603090020146065),
 (292, 0.08603090020146065),
 (457, 0.08603090020146065),
 (775, 0.08603090020146065),
 (1589, 0.08603090020146065),
 (3135, 0.08603090020146065),
 (3449, 0.08603090020146065),
 (4754, 0.08603090020146065),
 (143, 0.08594700851870801),
 (2354, 0.08594700851870801),
 (217, 0.08520286456846099),
 (234, 0.08520286456846099),
 (1019, 0.08520286456846099),
 (1639, 0.08520286456846099),
 (2, 0.08471737420873576),
 (745, 0.08471737420873576),
 (960, 0.08471737420873576),
 (1378, 0.08471737420873576),
 (2583, 0.08471737420873576),
 (4560, 0.08471737420873576),
 (32, 0.08447772061910234),
 (1305, 0.08447772061910234),
 (48, 0.0837707816583391),
 (381, 0.0837707816583391),
 (403, 0.0837707816583391),
 (534, 0.0837707816583391),
 (1530, 0.0837707816583391),
 (2968, 0.0837707816583391),
 (3218, 0.0837707816583391),
 (3978, 0.0837707816583391),
 (4654, 0.0837707816583391),
 (4737, 0.0837707816583391),
 (315, 0.08346223261119858),
 (899, 0.08346223261119858),
 (1097, 0.08346223261119858),
 (1142, 0.08346223261119858),
 (2167, 0.08346223261119858),
 (2304, 0.08346223261119858),
 (19, 0.0830812984794528),
 (45, 0.0830812984794528),
 (190, 0.0830812984794528),
 (3905, 0.0830812984794528),
 (2386, 0.08278327231656527),
 (1, 0.08226127456606226),
 (152, 0.08226127456606226),
 (203, 0.08226127456606226),
 (341, 0.08226127456606226),
 (894, 0.08226127456606226),
 (1688, 0.08226127456606226),
 (1749, 0.08226127456606226),
 (2128, 0.08226127456606226),
 (2661, 0.08226127456606226),
 (3301, 0.08226127456606226),
 (3470, 0.08226127456606226),
 (3926, 0.08226127456606226),
 (4626, 0.08226127456606226),
 (63, 0.08175191193132876),
 (501, 0.08175191193132876),
 (812, 0.08175191193132876),
 (2203, 0.08175191193132876),
 (3560, 0.08175191193132876),
 (38, 0.08111071056538127),
 (39, 0.08111071056538127),
 (227, 0.08111071056538127),
 (306, 0.08111071056538127),
 (402, 0.08111071056538127),
 (547, 0.08111071056538127),
 (626, 0.08111071056538127),
 (787, 0.08111071056538127),
 (866, 0.08111071056538127),
 (901, 0.08111071056538127),
 (1207, 0.08111071056538127),
 (1519, 0.08111071056538127),
 (1698, 0.08111071056538127),
 (2644, 0.08111071056538127),
 (2671, 0.08111071056538127),
 (2865, 0.08111071056538127),
 (2877, 0.08111071056538127),
 (3180, 0.08111071056538127),
 (3527, 0.08111071056538127),
 (4492, 0.08111071056538127),
 (4568, 0.08111071056538127),
 (4641, 0.08111071056538127),
 (4657, 0.08111071056538127),
 (245, 0.08000711205939975),
 (854, 0.08000711205939975),
 (1269, 0.08000711205939975),
 (1747, 0.08000711205939975),
 (2683, 0.08000711205939975),
 (3028, 0.08000711205939975),
 (3764, 0.08000711205939975),
 (3816, 0.08000711205939975),
 (3851, 0.08000711205939975),
 (486, 0.07992075789278003),
 (222, 0.07987230638308718),
 (1828, 0.07987230638308718),
 (4506, 0.07987230638308718),
 (1534, 0.0792740035289418),
 (2792, 0.0792740035289418),
 (70, 0.07894736842105264),
 (164, 0.07894736842105264),
 (242, 0.07894736842105264),
 (543, 0.07894736842105264),
 (1080, 0.07894736842105264),
 (3233, 0.07894736842105264),
 (4316, 0.07894736842105264),
 (193, 0.07878168645790681),
 (51, 0.07868894753646337),
 (62, 0.07868894753646337),
 (103, 0.07868894753646337),
 (584, 0.07868894753646337),
 (1139, 0.07868894753646337),
 (1621, 0.07868894753646337),
 (1664, 0.07868894753646337),
 (1898, 0.07868894753646337),
 (2339, 0.07868894753646337),
 (3728, 0.07868894753646337),
 (4279, 0.07868894753646337),
 (4473, 0.07868894753646337),
 (153, 0.0781166566864507),
 (286, 0.0781166566864507),
 (1926, 0.0781166566864507),
 (16, 0.07792865001991967),
 (37, 0.07792865001991967),
 (86, 0.07792865001991967),
 (329, 0.07792865001991967),
 (922, 0.07792865001991967),
 (1161, 0.07792865001991967),
 (1325, 0.07792865001991967),
 (2295, 0.07792865001991967),
 (2449, 0.07792865001991967),
 (2938, 0.07792865001991967),
 (3102, 0.07792865001991967),
 (3164, 0.07792865001991967),
 (1282, 0.0770085628656519),
 (1659, 0.0770085628656519),
 (1924, 0.0770085628656519),
 (112, 0.07694837640638656),
 (207, 0.07694837640638656),
 (632, 0.07694837640638656),
 (1113, 0.07694837640638656),
 (2219, 0.07694837640638656),
 (2916, 0.07694837640638656),
 (3091, 0.07694837640638656),
 (4341, 0.07694837640638656),
 (205, 0.07647191129018727),
 (776, 0.07647191129018727),
 (850, 0.07647191129018727),
 (1045, 0.07647191129018727),
 (1254, 0.07647191129018727),
 (2165, 0.07647191129018727),
 (2274, 0.07647191129018727),
 (3832, 0.07647191129018727),
 (40, 0.076004188790721),
 (96, 0.076004188790721),
 (101, 0.076004188790721),
 (174, 0.076004188790721),
 (241, 0.076004188790721),
 (492, 0.076004188790721),
 (1289, 0.076004188790721),
 (1290, 0.076004188790721),
 (4268, 0.076004188790721),
 (4558, 0.076004188790721),
 (4624, 0.076004188790721),
 (3331, 0.07563612760200647),
 (125, 0.07554494477488184),
 (246, 0.07543142864047142),
 (2005, 0.07543142864047142),
 (82, 0.07509392614826384),
 (235, 0.07509392614826384),
 (349, 0.07509392614826384),
 (361, 0.07509392614826384),
 (680, 0.07509392614826384),
 (1009, 0.07509392614826384),
 (1293, 0.07509392614826384),
 (2163, 0.07509392614826384),
 (4045, 0.07509392614826384),
 (4205, 0.07509392614826384),
 (800, 0.07443229275647868),
 (1005, 0.07443229275647868),
 (1323, 0.07443229275647868),
 (1521, 0.07443229275647868),
 (1770, 0.07443229275647868),
 (2256, 0.07443229275647868),
 (2326, 0.07443229275647868),
 (2712, 0.07443229275647868),
 (2801, 0.07443229275647868),
 (3117, 0.07443229275647868),
 (3126, 0.07443229275647868),
 (4011, 0.07443229275647868),
 (4165, 0.07443229275647868),
 (4412, 0.07443229275647868),
 (4542, 0.07443229275647868),
 (98, 0.07421560439929402),
 (210, 0.07421560439929402),
 (365, 0.07421560439929402),
 (503, 0.07421560439929402),
 (540, 0.07421560439929402),
 (737, 0.07421560439929402),
 (1070, 0.07421560439929402),
 (1523, 0.07421560439929402),
 (2021, 0.07421560439929402),

In [59]:
recommend("Avatar")

Aliens vs Predator: Requiem
Aliens
Independence Day
Falcon Rising
Titan A.E.

In [60]:
import pickle

In [62]:
pickle.dump(new, open('model/movies_list.pkl', 'wb'))

In [63]:
pickle.dump(similarity, open('model/similarity.pkl', 'wb'))